<!DOCTYPE html>
<html lang="en">
  <%- include('../views/partials/header.ejs') %>

  <body>
    <%- include('../views/partials/nav.ejs') %>

    <div style="padding: 20px 20px 0px 20px;" >
      <h2 style="padding-bottom: 20px;"> <p><%= name %></p></h2>
    <table class="table table-responsive table-borderless table-striped">
      <thead>
        <tr class="table-dark">
          <th scope="col">Status</th>
          <th scope="col">Description</th>
          <th scope="col">Location</th>
          <th scope="col">Interface</th>
        </tr>
      </thead>
      <tbody>
      </div>
   
    <th scope="row"><%= info.printerstatus %></th>
    <th scope="row"><%= info.description %></th>
    <th scope="row"><%= info.location %></th>
    <th scope="row"><%= info.interface %></th>

    <%- include('../views/partials/footer.ejs') %>
  </body>
</html>
