<!doctype html>
<html lang="en">

     <%- include('../views/partials/header.ejs') %>

  <body>

    <%- include('../views/partials/nav.ejs') %>
    

<div class="container-fluid" style="padding: 20px 0px 0px 20px;">
  <div class="row" style="width: 100%;">
    <div class="col-2">
  <h2><%= name.printername %> Jobs List</h2>
</div>
  <div class="col-2">
  <select id="select" class="form-select-sm">
    <% for ( var i = 0; i<name.length; i++ ) { %>
        <option value="<%= name[i] %>"> <%= name[i] %> </option>
        <% } %>
    </select>
  </div>
 </div>
</div>
  <div id="records" style="padding: 20px 20px 0px 20px;" >
    <!-- <table class="table table-hover table-striped table-borderless">
      <thead>
        <tr class='table-dark'>
          <th scope="col">Job Rank</th>
          <th scope="col">Job Commissioner</th>
          <th scope="col">Job ID</th>
          <th scope="col">Job File Name</th>
          <th scope="col">Job Size</th>
        </tr>
      </thead>
      
      <tbody>
        <% for(var i=0; i<command.length; i++){ %>
          <tr>
            <th scope="row"><%= command[i].rank %></th>
            <th scope="row"><%= command[i].owner %></th>
            <th scope="row"><%= command[i].identifier %></th>
            <th scope="row"><%= command[i].files %></th>
            <th scope="row"><%= command[i].totalSize %></th>
          </tr>
        <% } %>
      </tbody>
    </table> -->
  </div>
  <div class="container-fluid" style="padding: 20px 0px 0px 20px;">
    <div class="row" style="width: 100%;">
      <div class="col-4">
  <h2>All Printer Jobs List</h2>
</div>
  <div class="col">
    <a href="cancelAll" class="btn btn btn-secondary">Delete all jobs</a>
    <a href="lprm" class="btn btn btn-secondary">Delete all jobs lprm</a>
</div>
</div>
</div>
    <div class="table-responsive" style="padding: 20px 20px 50px 20px;" >
    <table class="table table-hover table-striped table-borderless">
      <thead>
        <tr class='table-dark'>
          <th scope="col">Printer name</th>
          <th scope="col">Job Commissioner</th>
          <th scope="col">Date</th>
        </tr>
      </thead>

      <tbody>
        <% for(var i=0; i<job.length; i++){ %>
          <tr>
            <th scope="row"><%= job[i].printername %></th>
            <th scope="row"><%= job[i].owner %></th>
            <th scope="row"><%= job[i].date %></th>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <%- include('../views/partials/footer.ejs') %>
  <script>

$(function(){ 

$("#select").on('change', function()
{ 
  var nomeStampante = $(this).val();
  console.log(nomeStampante)

  $.ajax
  ({
    method: "GET", 
    url: "/lpqGet",
    data: { 
      printername:nomeStampante
  },
    error: function()
      {
          alert("Error");
      }
  }).done(function( data ) { 

    var string="<table class='table-responsive table-hover table-striped table-borderless'> <thead><tr class='table-dark'> <th>Job Rank</th> <th>Job Commissioner</th><th>Job ID</th><th>Job File Name</th><th>Job Size</th><tr>";

    $.each( data, function( key, value ) { 

      string += "<tr> <td>"+value['rank']+"</td><td>"+value['owner']+"</td><td>"+value['identifier']+"</td><td>"+value['files']+"</td><td>"+value['files']+"</td> </tr>"; 
          }); 

        string += '</table>'; 

      $("#records").html(string); 
  }); 
}); 
});
  </script>
  <!-- <script type="text/javascript" src="/../api/ajaxGet.js"></script>
  <script src="../utils/utils.js"></script> -->
  </body>
</html>
