<!doctype html>
<html lang="en">

     <%- include('../views/partials/header.ejs') %>

  <body>

    <%- include('../views/partials/nav.ejs') %>
    

<div class="container-fluid" style="padding: 1% 0% 0% 1%;">
  <div class="row" style="width: 100%;">
    <div class="col-auto">
  <h2><%= name.printername %> Jobs List</h2>
</div>
  <div class="col-auto">
  <select id="select" class="form-select-sm" >
    <% for ( var i = 0; i<name.length; i++ ) { %>
        <option value="<%= name[i] %>"> <%= name[i] %></option>
        <% } %>
    </select>
  </div>
 </div>
</div>
  <div style="padding: 1% 1% 0% 1%;" >
    <table id="records" class="table table-hover table-striped table-borderless">
    
    </table> 
  </div>
  <div class="container-fluid" style="padding: 1% 0% 0% 1%;">
    <div class="row" style="width: 100%;">
      <div class="col-auto">
  <h2>All Printer Jobs List</h2>
</div>
  <div class="col-auto">
    <a href="cancelAll" class="btn btn btn-secondary">Delete all jobs</a>
    <a href="lprm" class="btn btn btn-secondary">Delete all jobs lprm</a>
</div>
</div>
</div>
    <div class="table-responsive" style="padding: 1% 1% 2% 1%;" >
    <table class="table table-striped table-hover table-responsive table-borderless">
      <thead>
        <tr class='table-dark'>
          <th scope="col">Printer name</th>
          <th scope="col">Job Commissioner</th>
          <th scope="col">Date</th>
        </tr>
      </thead>

      <tbody>
        <% for(var i=0; i<job.length; i++){ %>
          <tr>
            <th scope="row"><%= job[i].printername %></th>
            <th scope="row"><%= job[i].owner %></th>
            <th scope="row"><%= job[i].date %></th>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <%- include('../views/partials/footer.ejs') %>
   <script type="text/javascript" src="../api/jquery/ajaxGet.js"></script>
  </body>
</html>