<!doctype html>
<html lang="en">

     <%- include('../views/partials/header.ejs') %>

  <body>
    <h1 style="padding-left: 20px; padding-top: 10px;">AidaLinux</h1>

    <%- include('../views/partials/nav.ejs') %>
    <h2 style="padding-left: 20px; padding-top: 20px; padding-bottom: 20px;">Single printer jobs List</h2>
    
<div style="padding: 20px 20px;">
    <table class="table table-striped table-borderless">
      <thead>
        <tr class='table-dark'>
          <th scope="col">Job Rank</th>
          <th scope="col">Job Commisioner</th>
          <th scope="col">Job ID</th>
          <th scope="col">Job File Name</th>
          <th scope="col">Job Size</th>
        </tr>
      </thead>

      <tbody>
        <% for(var i=0; i<command.length; i++){ %>
          <tr>
            <th scope="row"><%= command[i].rank %></th>
            <th scope="row"><%= command[i].owner %></th>
            <th scope="row"><%= command[i].identifier %></th>
            <th scope="row"><%= command[i].files %></th>
            <th scope="row"><%= command[i].totalSize %></th>
          </tr>
        <% } %>
      </tbody>
    </table>
    <br>
    <h2 style="padding-left: 20px; padding-bottom: 20px;">All Printer Jobs List</h2>

    <table class="table table-striped table-borderless">
      <thead>
        <tr class='table-dark'>
          <th scope="col">Printer name</th>
          <th scope="col">Job Commisioner</th>
          <th scope="col">Date</th>
        </tr>
      </thead>

      <tbody>
        <% for(var i=0; i<command.length; i++){ %>
          <tr>
            <th scope="row"><%= job[i].printername %></th>
            <th scope="row"><%= job[i].owner %></th>
            <th scope="row"><%= job[i].date %></th>
          </tr>
        <% } %>
      </tbody>
    </table>
  </div>
  <%- include('../views/partials/footer.ejs') %>

  </body>
</html>
    
