<!DOCTYPE html>
<html lang="en">
  <%- include('../views/partials/header.ejs') %>
  <%- include('../views/partials/nav.ejs') %>

  <body>
    <div class="container-fluid" style="padding: 1% 0% 0% 1%;">
      <h2>Quick print</h2>

      <div id="result">
        <!-- alert -->
      </div>

      <div class="col-4" style="width: 100%; padding: 1% 0% 0% 0%">
        <h4>Selected profile</h4>
      </div>
      <div class="col-4">
        <div class="col-4">
          <select id="selectProfile" class="form-select">
            <% for ( var i = 0; i<profile.length; i++ ) { %>
                <option value="<%= profile[i] %>"> <%= profile[i] %></option>
                <% } %>
          </select>
        </div>
      </div>

    <div class="container-fluid" style="padding: 2% 0% 0% 0%;">
      <div class="row" style="width: 100%; padding: 1% 0% 0% 0%">
        <div class="col-4">
            <h4>Selected printer</h4>
        </div>
        <div class="col-4">
            <h4>Selected file</h4>
        </div>
        <div class="col-4">
        </div>
      </div>
        <div class="row" style="width: 100%;">
          <div class="col-4">
            <div class="col-8">
              <select id="selectPrinter" class="form-select">
                <% for ( var i = 0; i<name.length; i++ ) { %>
                  <option value="<%= name[i] %>"> <%= name[i] %></option>
                <% } %>
              </select>
            </div>
          </div>
          <div class="col-4">
            <%- include('../views/options/browseFile.ejs') %>
          </div>
          <div class="col-4">
            <input type='submit'id="button" class="btn btn-outline-secondary" value="Send Request"></a>
          </div>
      </div>
    </div>

      <form id="formLp">
        <div class="container-fluid" style="padding: 2% 0% 3% 0%;">
          <div class="row" style="width: 100%;">
            <div class="col-4">
              <%- include('../views/options/numberOfCopies.ejs') %>
            </div>
            <div class="col-4">
            </div>
            <div class="col-4">
            </div>
          </div>
          <div class="row" style="width: 100%;">
            <div class="col-4">
          <%- include('../views/options/size.ejs') %>
        </div>
        <div class="col-4"> 
            <%- include('../views/options/side.ejs') %>
          </div>
          <div class="col-4">
            <%- include('../views/options/banner.ejs') %>
          </div>
        </div>
        <div class="row" style="width: 100%;">
          <div class="col-4" style="padding-top: 1%">
            <%- include('../views/options/quality.ejs') %>
          </div>
          <div class="col-4" style="padding-top: 1%">
            <%- include('../views/options/orientation-requested.ejs') %>
          </div>
          <div class="col-4" style="padding-top: 1%">
            <%- include('../views/options/number.ejs') %>
          </div>
        </div>
      </form>
    </div>
  </div>


    <script type="text/javascript" src="../api/jquery/lpPost.js"></script>
    <script type="text/javascript" src="../api/jquery/profileGet.js"></script>
    <!-- <script type="text/javascript" src="../api/jquery/lpGet.js"></script> -->
  </body>

  <%- include('../views/partials/footer.ejs') %>
</html>