<!DOCTYPE html>
<html lang="en">
  <%- include('../views/partials/header.ejs') %>

  <body>
    <%- include('../views/partials/nav.ejs') %>
    
    <div class="container-fluid" style="padding: 1% 0% 0% 1%;">
      <div class="row" style="width: 100%;">
        <div class="col-auto">
      <h2> Choose your printer: </h2>
    </div>
      <div class="col-auto">
      <select id="select" class="form-select">
        <% for ( var i = 0; i<name.length; i++ ) { %>
            <option value="<%= name[i] %>"> <%= name[i] %></option>
            <% } %>
        </select>
      </div>
      <div class="col-auto">
        <input type='submit'id="button" class="btn btn-outline-secondary" value="Send Request"></a>
      </div>
      <div id="result">
        <!-- alert -->
      </div>
    </div>
  </div>
  
  <form id="formLp">
  <div class="container-fluid" style="padding: 2% 0% 0% 1%;">
    <div class="row" style="width: 100%;">
      <div class="col-12">
        <%- include('../views/options/browseFile.ejs') %>
        <%- include('../views/options/numberOfCopies.ejs') %>
      </div>
      <div class="col">
      </div>
    </div>
    <div class="row" style="width: 100%;">
      <div class="col-4">
        <%- include('../views/options/size.ejs') %>
        <%- include('../views/options/quality.ejs') %>
        <%- include('../views/options/side.ejs') %>
      </div>
      <div class="col-4">
        <%- include('../views/options/banner.ejs') %>
        <%- include('../views/options/orientation-requested.ejs') %>
      </div>
      <div class="col-4">
        <%- include('../views/options/number.ejs') %>
      </div>
    </div>
</form>

    <script type="text/javascript" src="../api/jquery/lpPost.js"></script>
    <!-- <script type="text/javascript" src="../api/jquery/lpGet.js"></script> -->

    <%- include('../views/partials/footer.ejs') %>
  </body>
</html>