<!DOCTYPE html>
<html lang="en">
  <%- include('../views/partials/header.ejs') %>

  <body>
    <%- include('../views/partials/nav.ejs') %>
    
    <div class="container-fluid" style="padding: 1% 0% 0% 1%;">
      <div class="row" style="width: 100%;">
        <div class="col-auto">
      <h2> Choose your printer: </h2>
    </div>
      <div class="col-auto">
      <select id="select" class="form-select">
        <% for ( var i = 0; i<name.length; i++ ) { %>
            <option value="<%= name[i] %>"> <%= name[i] %></option>
            <% } %>
        </select>
      </div>
      <div class="col-auto">
        <input type='submit'id="button" class="btn btn-outline-secondary"></a>
      </div>
     </div>
    </div>

    <form id="formLp">
        <div class="mb-3, container-fluid" style="padding: 2% 1% 1% 1%;">
          <div class="col-2">
          <label class="form-label">Select file to print:</label>
        </div>
          <div class="col-2">
          <label for="formFile" class="form-label">
            <input class="form-control" type="file" id="browseFile"/>
          </label>
        </div>
        <div class="col-2" style="padding-top: 1%">
        <label for="numberOfCopies1" class="form-label">Number of copies:</label>
      </div>
        <div class="col-2">
          <input 
            value="1"
            type="number"
            class="form-control"
            id="numberOfCopies"
          />
        </div>
        <div id="settingsHelp" class="form-text">Select how many times you want to print your file.</div>
        <div class="form-check" style="padding-top: 1%">
          <input
          value="a4";
            class="form-check-input"
            type="radio"
            name="flexSizeDefault"
            id="flexSizeDefault1"
          />
          <label class="form-check-label" for="flexSizeDefault1">A4 format</label>
        </div>
        <div class="form-check">
          <input
            value="letter";
            class="form-check-input"
            type="radio"
            name="flexSizeDefault"
            id="flexSizeDefault2"
            checked
          />
          <label class="form-check-label" for="flexSizeDefault2">Letter format</label>
        </div>

        <div class="form-check">
          <input
            value="legal";
            class="form-check-input"
            type="radio"
            name="flexSizeDefault"
            id="flexSizeDefault3"
            checked
          />
          <label class="form-check-label" for="flexSizeDefault3">Legal format</label>
        </div>
      
        <div id="settingsHelp" class="form-text">Specifies the output size of the printed file.</div>
        <div class="form-check" style="padding-top: 1%">
          <input
            value="draft";
            class="form-check-input"
            type="radio"
            name="flexQualityDefault"
            id="flexQualityDefault1"
          />
          <label class="form-check-label" for="flexQualityDefault1">Print quality: Draft</label>
        </div>
        <div class="form-check">
          <input
            value="normal"
            class="form-check-input"
            type="radio"
            name="flexQualityDefault"
            id="flexQualityDefault2"
          />
          <label class="form-check-label" for="flexQualityDefault2">Print quality: Normal</label>
        </div>
        <div class="form-check">
          <input
            value="best"
            class="form-check-input"
            type="radio"
            name="flexQualityDefault"
            id="flexQualityDefault3"
            checked
          />
          <label class="form-check-label" for="flexQualityDefault3">Print quality: Best</label>
        </div>
        <div id="settingsHelp" class="form-text" style="padding-bottom: 1%">Specifies the output quality to draft, normal, or best.</div>
        <div class="form-check">
          <input
            value="one-sided";
            class="form-check-input"
            type="radio"
            name="flexSideDefault"
            id="flexSideDefault1"
          />
          <label class="form-check-label" for="flexSideDefault1">Print sides: one-sided</label>
        </div>
        <div id="settingsHelp" class="form-text" style="padding-bottom: 1%">Prints on one side of the paper.</div>
        <div class="form-check">
          <input
          value="two-sided-long-edge";
            class="form-check-input"
            type="radio"
            name="flexSideDefault"
            id="flexSideDefault2"
            checked
          />
          <label class="form-check-label" for="flexSideDefault2">Print sides: two-sided-long-edge</label>
        </div>
        <div id="settingsHelp" class="form-text" style="padding-bottom: 1%">Prints on both sides of the paper for portrait output.</div>
        <div class="form-check">
          <input
          value="two-sided-short-edge";
            class="form-check-input"
            type="radio"
            name="flexSideDefault"
            id="flexSideDefault3"
          />
          <label class="form-check-label" for="flexSideDefault3">Print sides: two-sided-short-edge</label>
        </div>
        <div id="settingsHelp" class="form-text" style="padding-bottom: 1%">Prints on both sides of the paper for landscape output.</div>
        <div class="form-check">
          <input
          value="a4";
            class="form-check-input"
            type="radio"
            name="flexSizeDefault"
            id="flexSizeDefault1"
          />
          <label class="form-check-label" for="flexSizeDefault1">None</label>
        </div>
        <div class="form-check">
          <input
            value="letter";
            class="form-check-input"
            type="radio"
            name="flexSizeDefault"
            id="flexSizeDefault2"
            checked
          />
          <label class="form-check-label" for="flexSizeDefault2">Classified</label>
        </div>

        <div class="form-check">
          <input
            value="legal";
            class="form-check-input"
            type="radio"
            name="flexSizeDefault"
            id="flexSizeDefault3"
            checked
          />
          <label class="form-check-label" for="flexSizeDefault3">Confidential</label>
        </div>

        <div class="form-check">
          <input
            value="legal";
            class="form-check-input"
            type="radio"
            name="flexSizeDefault"
            id="flexSizeDefault3"
            checked
          />
          <label class="form-check-label" for="flexSizeDefault3">Secret</label>
        </div>
      
        <div class="form-check">
          <input
            value="legal";
            class="form-check-input"
            type="radio"
            name="flexSizeDefault"
            id="flexSizeDefault3"
            checked
          />
          <label class="form-check-label" for="flexSizeDefault3">Standard</label>
        </div>

        <div class="form-check">
          <input
            value="legal";
            class="form-check-input"
            type="radio"
            name="flexSizeDefault"
            id="flexSizeDefault3"
            checked
          />
          <label class="form-check-label" for="flexSizeDefault3">Topsecret</label>
        </div>

        <div class="form-check">
          <input
            value="legal";
            class="form-check-input"
            type="radio"
            name="flexSizeDefault"
            id="flexSizeDefault3"
            checked
          />
          <label class="form-check-label" for="flexSizeDefault3">Unclassified</label>
        </div>

        <div id="settingsHelp" class="form-text" style="padding-bottom: 1%">Prints a banner with the document. The banner can be "none" "classified", "confidential", "secret", "standard", "topsecret", or "unclassified".</div>
      </div>
    </div>
  </div>
    </form>

    <div id="result">
      <!-- alert -->
    </div>
    
    <script type="text/javascript" src="../api/jquery/lpPost.js"></script>
    <!-- <script type="text/javascript" src="../api/jquery/lpGet.js"></script> -->

    <%- include('../views/partials/footer.ejs') %>
  </body>
</html>